<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.bpa.FastLexicon2" version="0.1.2">
    <name>Fast2Lexicon</name>
    <description>Personal lexicon helping to learn quickly hebrew words.</description>
    <author email="perahya@hotmail.com" href="">BPA</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="AndroidPersistentFileLocation" value="Internal"/>
    <content src="index.html"/>
    <plugin name="File" value="org.apache.cordova.FileUtils" />
    <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />   
</widget>
