<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.milmilim.miloni" version="0.1.0">
    <preference name="phonegap-version" value="3.6.3" />
    <name>Miloni</name>
    <description>Personal lexicon helping to quickly learn hebrew words.</description>
    <author email="perahya@hotmail.com" href="">BPA</author>
    <!--<icon src="resources/images/ios/black_cat_ios.png"/>-->
    <!--<icon src="resources/images/cordova_512.png"/>-->
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <icon src="resources/images/ios/black_cat_ios.png" platform="ios"/>
    <icon src="resources/images/cordova_512.png" platform="android"/>
    <preference name="permissions" value="none"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <!--<feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/network"/>-->    
    <content src="index.html"/>
</widget>
